@mixin when-dark {
    @at-root html.dark & {
        @content;
    }
}

@mixin when-light {
    @at-root html.light & {
        @content;
    }
}

@mixin when-inverted {
    @at-root html.inverted & {
        @content;
    }
}

@mixin when($state) {
    @at-root {
        &.is-#{$state} {
            @content;
        }
    }
}

@mixin hover {
    transition: background-color var(--el-transition-duration);
    &:hover {
        background-color: var(--item-hover-color);
    }
    @include when-dark {
        &:hover {
            background-color: var(--item-hover-dark-color);
        }
    }
}