@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: (
        "success": (
            "base": #18a058,
        ),
        "warning": (
            "base": #f0a020,
        ),
        "danger": (
            "base": #d03050,
        ),
        "error": (
            "base": #f56c6c,
        ),
        "info": (
            "base": #909399,
        ),
    )
);
@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/src/dark/css-vars" as *;

.el-button {
    --el-border-radius-base: 3px;
}

.el-divider {
    &__text {
        width: max-content;
        padding: 0 12px;
    }
}

.el-sub-menu.is-active > .el-sub-menu__title {
    color: var(--el-menu-active-color);
}

.el-dropdown,
.el-dropdown * {
    outline: none;
}

.el-drawer {
    &__header {
        margin: 0;
        padding: 16px 24px;
        border-bottom: 1px solid var(--el-border-color);
    }
    &__footer {
        padding: 16px 24px;
        border-top: 1px solid var(--el-border-color);
    }
}

.el-table thead th.el-table__cell,
.el-table.is-scrolling-none th.el-table-fixed-column--left,
.el-table.is-scrolling-none th.el-table-fixed-column--right {
    background: var(--el-fill-color-light) !important;
}

.el-input-number {
    width: 100%;
}
