@use "element-plus";
@use "atom";
@use "transition";
@use "sass:math";
@use "sass:color";

:root {
    --dark-color: rgb(24, 24, 28);
    --item-hover-color: #{rgba($color: #000, $alpha: 0.05)};
    --item-hover-dark-color: #{rgba($color: #fff, $alpha: 0.1)};
    --menu-hover-bg-color: rgba(255, 255, 255, 0.09);
    --border-light-color: rgb(239, 239, 245);
    --border-inverted-color: rgb(0, 20, 40);
    --border-dark-color: rgba(255, 255, 255, 0.09);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    --menu-bg-color: #fff;
    &.inverted {
        --menu-bg-color: #001428;
        --menu-text-color: #BBB;
    }
    &.dark {
        --menu-bg-color: var(--dark-color);
    }
}
// 解决全屏部分元素背景变黑
::backdrop {
    background-color: transparent;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}