@use "element-plus";
@use "atom";
@use "transition";

:root {
    --dark-color: rgb(24, 24, 28);
    --item-hover-color: #{rgba($color: #000, $alpha: 0.03)};
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    --menu-hover-bg-color: rgba(255, 255, 255, 0.09);
    --border-dark-color: rgba(255, 255, 255, 0.09);
    &.inverted {
        --menu-bg-color: #001428;
        --menu-text-color: #BBB;
    }
    &.dark {
        --menu-bg-color: var(--dark-color);
    }
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
