@use "element-plus";
@use "atom";
@use "transition";
@use "sass:math";
@use "sass:color";

:root {
    // 暗黑色
    --dark-bg-color: rgb(24, 24, 28);
    //鼠标移入背景色
    --item-hover-bg-color: #{rgba($color: #000, $alpha: 0.05)};
    --item-hover-bg-dark-color: #{rgba($color: #fff, $alpha: 0.1)};
    // 菜单item移入背景色
    --menu-hover-bg-light-color: rgb(243, 243, 245);
    --menu-hover-bg-inverted-color: rgba(255, 255, 255, 0.09);
    // 边框颜色
    --border-light-color: rgb(239, 239, 245);
    --border-inverted-color: rgb(0, 20, 40);
    --border-dark-color: rgba(255, 255, 255, 0.09);
    // 动画
    --el-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    // 页面背景色
    --page-bg-color: #f5f7f9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    // 菜单背景色
    --menu-bg-color: #fff;
    &.inverted {
        --menu-bg-color: #001428;
        // 菜单文字颜色
        --menu-text-color: #bbb;
    }
    &.dark {
        --menu-bg-color: var(--dark-bg-color);
        --menu-text-color: #fff;
    }
}

// 解决全屏部分元素背景变黑
::backdrop {
    background-color: var(--el-bg-color);
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
    will-change: background, background-color;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.full-page {
    height: calc(100vh - var(--header-height) - var(--tags-height) - 20px);
    transition: none;
    & > .el-card__body {
        height: 100%;
    }
}

.el-card {
    &.no-padding > .el-card__body {
        padding: 0;
    }
    &.no-border {
        .el-card__header {
            border-bottom: none;
        }
        .el-card__footer {
            border-top: none;
        }
    }
}

.el-form {
    &.search-form {
        .el-input {
            width: 160px;
        }
    }
    &.form-flex {
        display: flex;
        gap: 32px 18px;
        .el-form-item {
            margin: 0;
        }
    }
}
