.el-thing {
    display: flex;
    &-avatar-header-wrapper {
        display: flex;
        flex-wrap: nowrap;
    }
    &-main {
        flex-grow: 1;
        &__content,
        &__footer,
        &__action {
            &:not(:first-child) {
                margin-top: 12px;
            }
        }
    }
    &-avatar {
        margin-right: 12px;
        margin-top: 2px;
    }
    &-header {
        display: flex;
        margin-bottom: 4px;
        justify-content: space-between;
        align-items: center;
        &-wrapper {
            flex: 1;
        }
        &__title {
            font-size: 16px;
            font-weight: 500;
        }
    }
}